{% extends 'base.html' %} 
{% load static %}
{% block content %}
<style>
    .games{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .each-game{
        height: auto;
        width: 300px;
        margin-bottom: 10px;
        margin-top: 60px;
    }

    #top{
        background: url({% static 'img/bg-tournament3.jpg' %}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<head>
    <title>Find Partner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/findpartner.js' %}"></script>
</head>

<div id="top" class="d-flex justify-content-around align-items-center vh-100">
        
    <a href="#host">
        <button type="button" class="btn btn-light" style="background: rgb(255, 232, 115); font-size: 35px">Host a<br>New Game</button>
    </a>
        
    <a href="#join">
        <button type="button" class="btn btn-light" style="background: rgb(255, 232, 115); font-size: 35px">Join Available<br>Games</button>
    </a>
        
</div>

<div id="host" class="flex-column" style="margin-top: 40px">
    <h1 class="d-flex justify-content-center">Host a New Game</h1>
    <div style="margin: auto 25%;">
        {% if user.is_authenticated %} 
        <form class="d-flex flex-column my-2 w-90" method="POST">      
            {% csrf_token %}
            {% for field in form %}
                <p class="w-100 justify-content-center my-1">
                    {{ field.label }}: <br> {{ field }}
                </p>
            {% endfor %}
                <button type="submit" value="Submit" class="btn btn-light" style="background: rgb(255, 232, 115); margin-top: 30px;">Submit</button>
        </form>
        {% else %}
            <h4 class="d-flex justify-content-center" style="margin-top: 20px; text-align: center; font-size: 20px;">You have to log in to make a new game.</h4>           
        {% endif %}
    </div>
</div>

<section id="join" class="flex-column" style="margin-bottom: 60px;">
    <h1 class="d-flex justify-content-center" style="padding-top: 60px;">Join Available Games</h1>
        
    <div class="d-flex justify-content-center">
            <div class="form-group" style="margin-top: 20px;">
                <input id="search-box" class="form-control" placeholder="enter keyword">
            </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="form-group">
            <button id="search-button" class="btn btn-light" style="background: rgb(255, 232, 115); margin-top: 15px;">Search</button>
        </div>
    </div>

    <div class="table-responsive" style="margin-top: 36px">
        <table class="table table-fixed">
            <thead class="text-center">
                <tr>
                    <th scope="col" id="head">#</th>
                    <th scope="col" id="head">Name</th>
                    <th scope="col" id="head">Sport</th>
                    <th scope="col" id="head">Date</th>
                    <th scope="col" id="head">Time</th>
                    <th scope="col" id="head">Slot</th>
                    <th scope="col" id="head">Venue</th>
                    <th scope="col" id="head">Contact Person</th>
                    <th scope="col" id="head"> </th>
                </tr>
            </thead>
    
            <tbody id="games-table" class="text-center">
            </tbody>
        </table>
    </div>
    
    <section id="games" class="flex-column" style="margin-bottom: 60px;"></section>
        <h1 class="d-flex justify-content-center" style="padding-top: 60px;">All Games</h1>
        <div class="games">
            {% for post in posts %}
                <div class="d-flex align-items-center justify-content-center">
                    <div>
                        <!--utk image-->
                        <img src="{% static 'img/scoreboard.png' %}" width=135px>
                    </div>
                    <div>
                        <!--utk detail turnamen-->
                        <div class="d-flex align-content-center">
                            <p class=" each-game text-center">
                            <strong>{{ post.game_title }}</strong><br>  
                            {{post.game_type}}<br>
                            {{post.date}}<br>
                            {{post.time}}<br>
                            Slot: {{ post.slot }} persons<br>
                            {{post.location}}<br>
                            {{post.contact}}<br>
                            </p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href = "{% url 'home' %}findpartner/success">
                                <button type="Button" class="btn btn-light mx-auto mt-2" style="background: rgb(255, 232, 115);">Join</button>
                            </a>
                            <form method="POST" action="{% url 'findpartner' %}">
                                {% csrf_token %}
                                <input name="id" value="{{post.id}}" type="hidden">
                            </form> 
                        </div>
                    </div> 
                </div>
            {% endfor %}
        </div>
    </section>
</section>

{% endblock %}