<!DOCTYPE html>
{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="vh-100">
    <div class="d-flex justify-content-center align-items-center" style="padding-top: 100px;">
        <img src="{% static 'img/cheers.png' %}" alt="success" width=300px>
    </div>
    <div>
        <h1 class="text-center">SUCCESS</h1>
        <p class = "text-center">
            You have joined the game. Have fun!<br>The game host will contact you in no time for confirmation. :)
        </p>
    </div>
    <a class="d-flex justify-content-center align-items-center" href="{% url 'home' %}findpartner/">
        <button type="button" class="btn btn-light mx-auto mt-2" style="background: rgb(255, 232, 115); height:42px">Back</button>
    </a>
</div>

{% endblock %}