{% extends 'venue/base.html' %}
{% load static %}
{% block title %}Submit Venue{% endblock title %}
{% block content %}
<div class="create-form">
<div class="venue-form-body pt-5 text-black">
    <div class="d-flex justify-content-around my-5">
        <h1>Submit Your Venue!</h1>
    </div>
</div>
<div class="container-fluid">
    <form class="col-md-10 offset-md-2" method="POST" action="{% url 'venue_form' %}" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form }}
        <div class="text-center">
            <input type="submit" class="w-25 m-4 btn btn-success text-white">
        </div>
    </form>
</div>
</div>
{% endblock content %}
