{% extends 'venue/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Timates - Venue{% endblock title %}
{% block content %}
{% include 'venue/booking_form.html' %}
<style>
    a:hover{
        text-decoration: none;
    }
    .card-deck {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: .5rem;
    }
    .card{
        transition: 0.3s;
    }
    .card:hover{
        transform: scale(0.95);
    }
    .venue-card{
        margin: 0 100 100 0;
    }
    .venue-img{
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>
<h2 class="text-body text-center text-info mt-4">Official Venue Partners</h2>
<div class="venue-list d-flex justify-content-center m-5">
    <div id="venue_list" class='card-columns col-sm-4 d-flex pb-3'>
    </div>
</div>
<center>
    <button id="refresh_venue" class="btn btn-success text-white m-3">
        Refresh Venue List
    </button>
</center>
<div class="container">
    <div class="text-center">
        <p class="text-muted">
            List your own venue <a href="{% url 'venue_form' %}" class="text-success font-weight-bold">here</a>
        </p>
    </div>
</div>
{% endblock content %}
{% block footer %}<script src="{% static 'script/venue.js' %}"></script>{% endblock %}