{% extends 'venue/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{ venue.name|title }}{% endblock title %}
{% block content %}
<style>
    .unavailable{
        filter:grayscale(1);
    }
    .card{
        width:100%;
        height:auto;
    }
    .card-img {
        filter: sepia(100%) hue-rotate(190deg) saturate(100%) brightness(0.4);
    }
</style>
<div class="d-flex justify-content-center m-5">
    <div class="card bg-dark text-white w-75 mt-5">
        <img src="{{ venue.image.url }}" class="card-img venue-page-img" alt="Venue Image">
        <div class="card-img-overlay">
            <h3 class="card-title venue-page-name">{{ venue.name|title }}</h5>
                <p class="card-text description">Operational Hour</p>
                <h4 class="card-text venue-page-address">{{ venue.open_hour }} - {{ venue.close_hour }}</h4>
                <p class="card-text description">Address</p>
                <h4 class="card-text venue-page-address">{{ venue.address|title }}</h4>
                <p class="card-text description">Price</p>
            <h4 class="card-text venue-page-price text-danger">Rp. {{ venue.price|intcomma }}</h4>
            <p class="card-text description ">Category</p>
            <h4 class="card-text venue-page-category">{{ venue.category }}</h4>
            <a href="{% url 'venue_list' %}" class="btn btn-primary text-center my-2">Book Now!</a>
        </div>
    </div>
    <div class="facilities mt-5">
        <h3>Facilities</h3>
        <div class="facility m-3 justify-content-around {{ venue.shower|yesno:',unavailable' }}">
            <label>
                <div>
                    <img src="{% static 'img/shower.svg' %}">
                    <p>Shower</p>
                </div>
            </label>
        </div>
        <div class="facility m-3 justify-content-around {{ venue.locker|yesno:',unavailable' }}">
            <label>
                <div>
                    <img src="{% static 'img/locker.svg' %}">
                    <p>Locker</p>
                </div>
            </label>
        </div>
        <div class="facility m-3 justify-content-around {{ venue.parking_space|yesno:',unavailable' }}">
            <label>
                <div>
                    <img src="{% static 'img/parking_space.svg' %}">
                    <p>Parking Space</p>
                </div>
            </label>
        </div>
        <div class="facility m-3 justify-content-around {{ venue.food|yesno:',unavailable' }}">
            <label>
                <div>
                    <img src="{% static 'img/food.svg' %}">
                    <p>Food</p>
                </div>
            </label>
        </div>
        <div class="facility m-3 justify-content-around {{ venue.wifi|yesno:',unavailable' }}">
            <label>
                <div>
                    <img src="{% static 'img/wifi.svg' %}">
                    <p>Wifi</p>
                </div>
            </label>
        </div>
        <div class="facility m-3 justify-content-around {{ venue.shop|yesno:',unavailable' }}">
            <label>
                <div>
                    <img src="{% static 'img/shop.svg' %}">
                    <p>Shop</p>
                </div>
            </label>
        </div>
    </div>
</div>
{% endblock content %}