{% extends 'base.html' %}
{% load static %}
{% block title %}Timates{% endblock %}
{% block content %}

<div class="container d-flex flex-wrap justify-content-around align-items-center vh-100 col-4 text-center" style="background-image:{% static 'img/bg-login.png' %}">
    <div>
        <div style="padding:25px;">
        <h2>Login</h2>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% endif %}
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0 rounded-pill">Login</button>
        </form>
        </div>
    </div>

    <div style="padding-bottom:25px;">
        Do not have an account? <a style="color:coral" href="../signup/">Sign Up here</a>
    </div>
</div>


{% endblock %}