{% extends 'base.html' %}
{% load static %}
{% block title %}Timates{% endblock %}
{% block content %}


<div class="container col-8" style="background-color:#C0C0C0 ; border-radius:35px;">
    <div style="padding:25px;">
        <h1 class="text-center">Logged Out</h1> 
    </div>
</div>



{% endblock %}