{% extends 'base.html' %}
{% load static %}
{% block title %}Timates{% endblock %}
{% block content %}


<div class="container col-8" style="background-color:#C0C0C0 ; border-radius:35px;">
    <div style="padding:25px;">
      <h2 class="text-center">Sign Up</h2>

{% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
      </div>
  {% endfor %}
  {% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign up</button>
</form>
</div>




{% endblock %}