{% extends 'base.html' %}
{% load static %}
{% block title %}Tournament{% endblock %}
{% block content %}

<style>
    body{
        background-color:palegoldenrod;
    }
    .games{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .each-game{
        height: auto;
        width: 300px;
        margin: 10px;
    }

    .up{
        background: url({% static 'img/bg-tournament.jpg' %}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }


</style>

{% if request.user.is_authenticated %}
<section class="d-flex justify-content-around align-items-center vh-100 up">

    <a href="#make">
        <button type="button" class="btn btn-light" style="background: rgb(255, 232, 115); font-size: 35px">Make a<br>Tournament</button>
    </a>

    <a href="#join">
        <button type="button" class="btn btn-light" style="background: rgb(255, 232, 115); font-size: 35px">Join a<br>Tournament</button>
    </a>

</section>

<section id="make" class="vh-100">
    <div>
        <h1 class="d-flex justify-content-center">Make a Tournament</h1>
        <div style="margin: auto 25%;">
            <form class="d-flex flex-column my-2 w-100" method="POST" id="int">
                {% csrf_token %}
                {% for field in form %}
                <p class="w-100 justify-content-center my-1">{{ field.label }}  {{ field }}</p>
                {% endfor %}
                <button type="submit" id="submit_tournament" style="background: rgb(255, 232, 115);" value="Submit" class="btn btn-light">Submit</button>
            </form>
        </div>
    </div>
</section> 

<!--JOIN Section-->
<section id="join" class="d-flex justify-content-around align-items-center" >
    <div>
    <h1 class="d-flex justify-content-center ">Join a Tournament</h1> 
         
        <div class="games" id='games'>
                {% for i in tournament %}
            <div class="d-flex align-items-center justify-content-center">
                <div>
                    <img src="{% static 'img/trophy.png' %}" alt="BD" width=135px>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center each-game">
                    <!--utk detail turnamen-->
                    <div class="d-flex align-content-center">
                        <p class="text-center">
                        <strong>{{ i.event }}</strong><br>  
                        Person needed: {{ i.player }}<br>
                        {{i.location}}<br>
                        {{i.contact}}<br>
                        {{i.date}}<br>
                        {{i.time}}<br>
                        </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'home' %}tournament/landing/">
                            <button type="button" class="btn btn-light mx-auto" style="background: rgb(255, 232, 115); height: 42px;">Join</button>
                        </a>  
                    </div>

                </div> 
            </div>
                {% endfor %}
        </div>
    </div>
</section>

{% else %}
<section class="d-flex justify-content-around align-items-center">
    <a href="#join">
        <button type="button" class="btn btn-light" style="background: rgb(255, 232, 115); font-size: 35px">List of<br>Tournament</button>
    </a>
    
    <div class="flex-column d-flex align-items-center">
        <a href="{% url 'home' %}accounts/login/">
            <button type="button" class="btn btn-light" style="background: rgb(255, 232, 115); font-size: 35px">Login</button>
        </a>
        <p class="text-center"><small><mark>You must login first to host or join a tournament.</mark></small></p>
    </div>
</section>

<section id="join" class="d-flex justify-content-around align-items-center vh-100 up2">
    <div>
    <h1 class="d-flex justify-content-center">List of Tournaments</h1> 
         
        <div class="games">
                {% for i in tournament %}
            <div class="d-flex align-items-center justify-content-center">
                <div>
                    <!--utk image-->
                    <img src="{% static 'img/trophy.png' %}" alt="BD" width=135px>
                </div>
                <div>
                    <!--utk detail turnamen-->
                    <div class="d-flex align-content-center">
                        <p class="each-game text-center">
                        <strong>{{ i.event }}</strong><br>  
                        Person needed: {{ i.player }}<br>
                        {{i.location}}<br>
                        {{i.contact}}<br>
                        {{i.date}}<br>
                        {{i.time}}<br>
                        </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" disabled class="btn btn-light mx-auto mt-2" style="background: rgb(255, 232, 115); height: 42px">Join</button>
                    </div>
                    <p class="text-center"><small>You must login first to join a tournament.</small></p>
                </div> 
            </div>
                {% endfor %}
        </div>
    </div>
</section>



{% endif %}



{% endblock %}

{% block footer %}
<script src="{% static 'js/championship.js' %}"></script>
{% endblock %}