{% extends 'base.html' %}
{% load static %}
{% block title %}Blog & News{% endblock %}
{% block head %}<link rel="stylesheet" href="{%static 'css/news_index_style.css' %}">{% endblock %}
{% block content %}
<div class="mt-3 mb-3 ml-3 mr-3">
    <div class="mt-5 text-center">
        <h2 class="pt-5 mt-5 pb-3 mb-3 font-weight-bold">
            News
        </h2>
    </div>
    <div class="pt-3 mt-3 jsonly" id="news-content">
        <div class="text-center mb-5">
            <img src="{%static 'gif/loading.gif'%}" alt="loading" width=500px>
            <h3>loading news</h3>            
        </div>
    </div>
    <noscript>
        <div class="pt-3 mt-3 text-center mb-5">
            <h3>You need javascript to view news.</h3>
        </div>
    </noscript>
</div>
<div>
    <div class="text-center mt-3 mb-3 ml-3 mr-3">
        <h2 class="font-weight-bold">
            Blog
        </h2>
        <div id="blog-content" class="jsonly">
            <div class="text-center mb-5">
                <img src="{%static 'gif/loading.gif'%}" alt="loading" width=500px>
                <h3>loading blog</h3>            
            </div>
        </div>
        <center>
            <button style="background: rgb(255, 232, 115);" id="refresh_blog" class="btn btn-light jsonly">refresh blog</button>
        </center>
        <noscript>
                <div class="pt-3 mt-3 text-center mb-5">
                    <h3>You need javascript to view blog.</h3>
                </div>
        </noscript>        
    </div>
</div>
<div>
    <form class="text-center mt-3 mb-3 margin-samping">
        <h2 class="font-weight-bold">
            Add Blog
        </h2>
        {% if user.is_authenticated %}
            <div id="blog-form" class="jsonly">
                <div class="form-group">
                    {{ add_blog_form }}
                </div>
                <button type="button" style="background: rgb(255, 232, 115);" id="submit_blog" class="btn btn-light">Submit</button>
            </div>
            <noscript>
                <div class="pt-3 mt-3 text-center mb-5">
                    <h3>You need javascript to add blog.</h3>
                    </div>
            </noscript>   
        {% else %}
            <h4>You have to logged in to add blog.</h4>
        {% endif %}
        </form>
</div>

<div class="modal fade" id="addStatusPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">add blog</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="addStatus"class="modal-body">
        placeholder
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}<script type="text/javascript" src="{% static 'js/news.js' %}"></script>{% endblock %}