<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
        <link rel="shortcut icon" href="{%static 'img/icon.ico'%}" />
        <title>{% block title %}{% endblock  %}</title>
        {% block head %}
        {% endblock  %}
    </head>
    <body>
        <style>
            .navbar-toggler-icon{
                filter: brightness(0);
            }
        </style>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{%static 'img/logo.png'%}" alt="TM" width=30px>
            </a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto font-weight-bold">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="{% url 'home' %}findpartner/">Find Partner<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'home' %}venue/">Booking Venue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'home' %}tournament/">Tournament</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'home' %}news/">Blog & News</a>
                </li>
                </ul>
                <div class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <p style="font-size: 15px; text-align: center; color: black; margin: 10px 20px;">You are logged in as {{user}}.</p>
                        <a id="logout" href= "{% url 'home' %}accounts/logout/"><button type="button" class="btn btn-light" style="background: rgb(255, 232, 115);"><strong>LOGOUT</strong></button></a>
                    {% else %}
                        <a id="login" href= "{% url 'home' %}accounts/login/"><button type="button" class="btn btn-light" style="background: rgb(255, 232, 115);"><strong>LOGIN</strong></button></a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock  %}
        <div class="bg-info text-center">
            <img src="{%static 'img/logo_full.png'%}" alt="TM" width=135px>
        </div>

        <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block footer %}
        {% endblock %}
    </body>
</html>